/* ESTILOS PORTADA */

/* Estilos para el contenedor principal */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; /* Color de fondo, puedes cambiarlo según tus preferencias */
}

/* Estilos para el contenedor del juego */
.juego {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el texto de bienvenida */
.bienvenido {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el botón de jugar */
.botonJugar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Color de fondo del botón, puedes cambiarlo según tus preferencias */
  color: #ffffff; /* Color del texto del botón */
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos adicionales para el botón al pasar el ratón sobre él */
.botonJugar:hover {
  background-color: #45a049; /* Color de fondo al pasar el ratón sobre el botón */
}


.palabra{
  display: flex;
}

img{
  width: 100%;
}

.imagen{
  margin: 20px auto;
  width: 160px;
}

.palo{
  margin: 3px;
  border-bottom: 1px solid black;
  width: 32px;
  height: 45px;
  text-align: center;
  font-size: 2.5em;
}

.botones button{
  margin: 5px;
  padding: 5px 0;
  font-size: 1.3em;
  background-color: white;
  border: 1px dashed black;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  text-align: center;
}
